.filters {
  position: relative;
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  align-items: center;
}

button {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border: 0px;
  border-style: none;
  border-radius: 4px;
  right: 30px;
  position: absolute;
  transform: translateY(25%);
}

button:hover {
  opacity: 0.9;
}

.locations, .amenities {
  height: 100%;
  width: unset;
  display: inline-block;
}

.locations h3, .amenities h3 {
  font-weight: 600;
  margin-bottom: 0px;
  padding-left: 30%;
}

.locations h4, .amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
  padding-left: 30%;
  margin-top: 0px;
}

.locations {
  border-right: 1px solid #DDDDDD;
}

.popover {
  visibility: hidden;
  margin: 0px;
  background-color: #FAFAFA;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin-top: 18px;
  transform: translateX(-1px);
}

.popover ul {
  list-style: none;
}

.popover li {
  margin-left: -20px;
  padding: 0;
}

.popover ul li ul li {
  padding-bottom: 10px;
  padding-top: 0;
}

.locations:hover .popover, .amenities:hover .popover {
    visibility: visible;
}

.amenities {
  transform: translateY(-185%);
}

.amenities .popover {
  transform: translate(-2%, -2%);
}

.amenities .popover ul li{
  padding-bottom: 4px;
  padding-top: 15px;
  padding-left: 20px;
}
